In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Max Temp,Lat,Lng,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2022-08-07 23:19:15,79.23,14.8961,-24.4956,85,96,5.64
1,1,Chicama,PE,2022-08-07 23:19:15,59.54,-7.8447,-79.1469,75,47,8.43
2,2,Chanika,TZ,2022-08-07 23:19:15,58.41,-5.4167,38.0167,98,73,2.77
3,3,Katsuura,JP,2022-08-07 23:19:15,82.81,35.1333,140.3000,80,6,14.47
4,4,Akyab,MM,2022-08-07 23:19:16,80.37,20.1500,92.9000,88,100,12.39

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Max Temp      float64
Lat           float64
Lng           float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Max Temp,Lat,Lng,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2022-08-07 23:19:15,79.23,14.8961,-24.4956,85,96,5.64
3,3,Katsuura,JP,2022-08-07 23:19:15,82.81,35.1333,140.3000,80,6,14.47
4,4,Akyab,MM,2022-08-07 23:19:16,80.37,20.1500,92.9000,88,100,12.39
8,8,Bethel,US,2022-08-07 23:19:17,85.86,41.3712,-73.4140,80,100,10.36
14,14,Dunnville,CA,2022-08-07 23:19:19,88.09,42.9001,-79.6163,67,74,12.73
17,17,San Policarpo,PH,2022-08-07 23:19:19,76.82,12.1791,125.5072,85,89,2.93
18,18,Albany,US,2022-08-07 23:17:33,87.40,42.6001,-73.9662,70,54,7.78
21,21,Jamestown,US,2022-08-07 23:14:35,83.84,42.0970,-79.2353,69,0,9.22
23,23,Sestri Levante,IT,2022-08-07 23:19:21,80.51,44.2732,9.3968,84,55,3.00
28,28,Atuona,PF,2022-08-07 23:19:22,77.16,-9.8000,-139.0333,68,78,17.90

In [22]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Max Temp      191
Lat           191
Lng           191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [23]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Sao Filipe      CV     79.23  14.8961  -24.4956
3         Katsuura      JP     82.81  35.1333  140.3000
4            Akyab      MM     80.37  20.1500   92.9000
8           Bethel      US     85.86  41.3712  -73.4140
14       Dunnville      CA     88.09  42.9001  -79.6163
17   San Policarpo      PH     76.82  12.1791  125.5072
18          Albany      US     87.40  42.6001  -73.9662
21       Jamestown      US     83.84  42.0970  -79.2353
23  Sestri Levante      IT     80.51  44.2732    9.3968
28          Atuona      PF     77.16  -9.8000 -139.0333

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sao Filipe,CV,79.23,14.8961,-24.4956,Hotel Xaguate
3,Katsuura,JP,82.81,35.1333,140.3000,Katsuura Hotel Mikazuki
4,Akyab,MM,80.37,20.1500,92.9000,ဟိုတယ် မန်မိုရီ
8,Bethel,US,85.86,41.3712,-73.4140,Courtyard by Marriott Danbury
14,Dunnville,CA,88.09,42.9001,-79.6163,Fishmasters Ultimate Charters
17,San Policarpo,PH,76.82,12.1791,125.5072,Agapita M. Nicart
18,Albany,US,87.40,42.6001,-73.9662,
21,Jamestown,US,83.84,42.0970,-79.2353,Hampton Inn & Suites Jamestown
23,Sestri Levante,IT,80.51,44.2732,9.3968,Grande Albergo
28,Atuona,PF,77.16,-9.8000,-139.0333,Villa Enata

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))